APP_ENV = 

PRODUCTION_DOMAIN = 

# Server Config
DB_HOST = 
DB_PORT = 
DB_USER = 
DB_PASSWORD = 
DB_NAME = 
DB_POOL_MODE = 

# Server Config
SERVER_HOST = 
SERVER_PORT = 
SERVER_READ_TIMEOUT = 
SERVER_WRITE_TIMEOUT = 
SERVER_SHUTDOWN_TIMEOUT = 

# Supabase Config
SUPABASE_PROJECT_ID = 
SUPABASE_STORAGE_BUCKET_ID = 
SUPABASE_DEFAULT_FOLDER = 
SUPABASE_API_PUBLIC_KEY = 
SUPABASE_API_SECRET_KEY = 
SUPABASE_JWT_API_SECRET_KEY = 

# Middleware Config
CORS_ALLOWED_ORIGINS = *
TRUSTED_PROXIES = 

# Gemini
GEMINI_API_KEY = 
GEMINI_AI_MODEL =

# Logging Config
LOG_LEVEL = 
LOG_FILE_PATH = 
LOG_MAX_SIZE = 
LOG_MAX_BACKUPS = 
LOG_MAX_AGE = 
LOG_COMPRESS =